$deep-sky-blue: #00adee;
$green: #008000;
$light-green: #a6cb46;
$light-grey: #d3d3d3;
$mercury: #e9e9e9;
$ocean-green: #42b983;
$pickled-bluewood: #2c3e50;
$red: #ff0000;
$white: #fff;
$white-smoke: #f4f4f4;
