@import 'colors';
@import 'fonts';

.main {
  padding-top: 20px;
}

.back-link {
  font-size: $text-medium;
  padding-left: 105px;
  position: relative;
  
  &::before {
    background: url(images/back-arrow-20.png) no-repeat center/cover;
    content: "";
    height: 20px;
    position: absolute;
    right: 45px;
    bottom: 0;
    width: 20px;
  }
}

.book-content {
  box-shadow: 4px 4px 7px $gray-solid;
  display: flex;
  margin: auto;
  max-width: 950px;
  padding: 30px 25px;  
  width: 100%;
}

.book-image {
  margin-right: 50px;
  position: relative;
  
  &::after {
    background: url(images/badge.png) no-repeat center/cover;
    content: "";
    height: 90px;
    position: absolute;
    right: -15px;
    top: -15px;
    transform: rotate(15deg);
    width: 60px;
  }
}

.book-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.book-title {
  border-bottom: 3px solid $pear;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.book-detail {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1023px) {
  .main {
    padding: 50px;
  }

  .back-link {
    left: 25px;
    padding: 0;
    margin-bottom: 25px;
  }
  
  .book-content {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
  }
  
  .book-image {
    grid-area: 2/1/2/1;
  }

  .book-text {
    display: grid;
    grid-area: 1/2/span 2/2;
    grid-template-columns: 100%;
    grid-template-rows: 140px repeat(3, 50px) 1fr;
    justify-content: center;
    position: relative;
  }
  
  .book-title {
    border-bottom: none;
    grid-area: 1/1/span 1/2;
  }

  .text-1 {
    display: block;
    padding-left: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .main {
    padding: 30px 60px 50px;
    position: relative;
  }

  .back-link {
    position: absolute;
    padding-top: 2px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .book-content {
    grid-template-columns: 100%;
    grid-template-rows: 60px 350px 1fr;
  }

  .book-image {
    grid-area: 2/1/span 2/2;
    margin: 0 auto;

    &::after {
      top: 25px;
    }
  }

  .book-text {
    grid-area: 1/1/span 3/2;
    grid-template-rows: 60px 350px 50px repeat(3, 35px);
  }

  .book-title {
    text-align: center;
  }

  .book-detail {
    font-size: $title-3;
    margin: 0;
    padding-top: 20px;
  }

  .book-detail:nth-child(2) {
    border-top: 4px solid $pear;
    grid-area: 4/1/span 3/2;
  }

  .book-detail:nth-child(3) {
    grid-area: 5/1/span 4/2;
  }

  .book-detail:nth-child(4) {
    grid-area: 6/1/span 5/2;
  }

  .book-detail .text-2 {
    font-size: $text-sm;
  }
}
