@import 'fonts';

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.book-cover {
  box-shadow: 4px 4px 7px $gray-solid;
  margin-bottom: 30px;
  padding: 20px 25px;
  width: 175px;
}

.book-coover-img {
  width: 125px;
  margin-bottom: 3px;
}

.book-cover-title {
  font-size: $title-3;
  font-weight: bold;
}
