<<<<<<< HEAD
.navbar {
  background-color: $white;
  border-top: 4px solid $dodger-blue;
  box-shadow: 4px 4px 7px $gray-solid;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-content {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin: auto;
  max-width: 800px;
  padding-right: 20px;
  position: relative;
  width: 100%;

  &::before {
    background-image: url(images/LogoWolox.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 60px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 180px;
  }
}

.book-list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 75px auto;
=======
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
>>>>>>> book-list
  max-width: 800px;
  width: 100%;
}

.book-cover {
  box-shadow: 4px 4px 7px $gray-solid;
<<<<<<< HEAD
  flex-basis: 22%;
  margin-bottom: 30px;
  padding: 20px 25px;
=======
  margin-bottom: 30px;
  padding: 20px 25px;
  width: 176px;
>>>>>>> book-list
}

.book-coover-img {
  width: 100%;
<<<<<<< HEAD
=======
  margin-bottom: 3px;
>>>>>>> book-list
}

.book-cover-title {
  font-size: 12px;
  font-weight: bold;
<<<<<<< HEAD
  margin-top: 5px;
=======
>>>>>>> book-list
}
