.login-content {
  align-items: center;
  background-color: $wild-sand-solid;
  border-top: 5px solid $dodger-blue;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 220px;
  padding: 15px 18px;
  width: 100%;
}

.login-img {
  width: 80%;
}

.login-form {
  margin-top: 15px;
  width: 100%;
}

.login-inputs-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  
  &:last-child {
    margin-bottom: 10px;
  }
}

.login-label {
  font-size: 11px;
  margin-bottom: 7px;
}

.login-input {
  border-radius: 4px;
  line-height: 1.7;
}

.login-submit {
  background-color: $pear;
  border-radius: 4px;
  color: $white;
  font-size: 11px;
  padding: 5px 0;
}

.sign-up-content {
  border-top: 2px solid $nobel;
  padding-top: 10px;
  width: 100%;
}

.sign-up {
  border: 2px solid $pear;
  border-radius: 4px;
  color: $pear;
  font-size: 11px;
  padding: 5px 0;
  width: 100%;
}
