@import 'fonts';

.text-1 {
  color: $gray;
  font-size: $title-1;
  font-weight: bold;
}

.text-2 {
  color: $gray-solid;
  font-size: $title-2;
}

.text-3 {
  color: $gray-solid;
  font-size: $text-small;
}
