.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.game-info {
  margin-left: 20px;
}

.games {
  margin-left: 30px;
}

.loading {
  display: none;
}
